<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Dostępne punkty:</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="./profil.html">Profil</a></li>
                <li><a href="./mojeWydarzenia.html">Moje Wydarzenia</a></li>
                <li><a href="./market.html">Rynek</a></li>
                <li><a href="./wydarzenie.html">Stworz wydarzenie</a></li>
                <li><a href="./login.html">Wyloguj</a></li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Market</h1>
                    <hr />
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa organizacji</th>
                    <th>Tytuł</th>
                    <th>Tagi</th>
                    <th>Data dodania</th>
                    <th>Data wydarzenia</th>
                    <th>Komentarz</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for event in user_events %}
                        <td class="col-md-1 share">}<button type="button" id={{ event.owner.id }} class="btn"> Udostepnij </button></td>
                    { % endfor %}
                    
                </tr>
    
            </tbody>
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>

