{% extends "base.html" %}
{% block body %}
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Market</h1>
                <hr />
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa organizacji</th>
                <th>Tytuł</th>
                <th>Tagi</th>
                <th>Data dodania</th>
                <th>Data wydarzenia</th>
                <th>Komentarz</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in user_messages %}
                <tr>
                    <td class="col-md-1">
                        {{ msg.owner.name }}
                    </td>
                    <td class="col-md-1">
                        {{ msg.title }}
                    </td>
                    <td class="col-md-1">
                        {{ msg.hashtag|default:'' }}
                    </td>
                    <td class="col-md-1">
                        {{ msg.date_starting|default:'' }}
                    </td>
                    <td class="col-md-1">
                        {{ msg.date_ending|default:'' }}
                    </td>
                    <td class="col-md-1">
                        {{ msg }}
                    </td>
                    <td class="col-md-1 share">
                        <button type="button" id="{{ msg.owner.id }}" class="btn">Udostepnij na FB</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
