{% extends "base.html" %}

{% block body %}
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Wiadomości</h1>
                <hr />
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Zawartość</th>
                <th>Serwis</th>
                <th>Nalicz mi punkty za udostępnienie</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in messages %}
                <tr>
                    <td class="col-md-1">
                        {{ msg.content }}
                    </td>
                    <td class="col-md-1">
                        {{ msg.type.service}}
                    </td>
                    <td class="col-md-1">
                        <a data-id={{ msg.id }} type="button" href="{% url 'user_add_point' market_id=msg.market.id %}"  class="modal_button" class="btn">Dodaj punkty</a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <!-- Modal for vote-->
{% endblock %}


